.galleries {
	padding-top: 56px; //header space
	height: 100vh;
	background-size: auto 100%;
	background-attachment: scroll;
	background-position: center center;
	background-repeat: repeat-x;

	overflow: auto;
	white-space: nowrap;
	.hidden {
		display: none !important;
	}
	.galleries-art {
		display: inline-block;
		width: auto;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 5%;

		img {
			max-height: 50vh;
			width: auto;
			display: block;
		}

		.galleries-art-plaque {
			display: inline-block;
			background-color: $color-theme;
			padding: 12px 12px 16px;
			border-radius: $setting-radius--soft;
			margin-top: 32px;

			h5 {
				font-style: italic;
				margin-bottom: $b8;
			}

			h6 {
				color: $color-base--description;
				margin-bottom: 0;
			}
		}
	}
	.galleries-nav {
		display: inline-block;
		width: auto;
		margin-left: 5%;
		margin-right: 10%;
	}
	.galleries-arrowleft {
		display: none;
		position: absolute;
		left: $b32;
		top: 45%;
		bottom: 0;
		width: $b56;
		margin-bottom: 0;
	}
	.galleries-arrowright {
		display: none;
		position: absolute;
		right: $b32;
		top: 45%;
		bottom: 0;
		width: $b56;
		margin-bottom: 0;
	}
	footer {
		position: fixed;
		bottom: 0px;
		left: 0px;
		right: 0px;
		margin-bottom: 0px;
	}

	/* RESPONSIVE ============================================================ */
	//special
	@media (max-height: 500px) {
		.galleries-art {
			.galleries-art-plaque,
			.galleries-buttons {
				display: none;
			}
		}
	}
	//special
	@media (min-width: 500px) and (min-height: 500px) {
		.galleries-arrowleft,
		.galleries-arrowright {
			display: inline-block;
		}
	}
}
