/* VARIABLES ============================================================ */
//primary   HSB(260, 60, 100);
$color-primary: #28A8C8; //theme #28A8C8
$color-primary--hover: #4EC3E4; //theme

//messaging
$color-success: #52CC8F;
$color-success--hover: #42A674;
$color-danger: #E65C5C;
$color-danger--hover: #BF4D4D;
$color-info: #5CACE6;
$color-info--hover: #4D8FBF;

//base
$color-base: #333333; //theme
$color-base--description: rgba(51, 51, 51, 0.64); //theme
$color-base--background: rgba(51, 51, 51, 0.12); //theme
$color-base--opaque: rgba(51, 51, 51, 0.96); //theme
$color-theme: #FFFFFF; //theme
$color-theme--opaque: rgba(255, 255, 255, 0.96); //theme

//border (border:)
$setting-border: 1px solid $color-base--background; //theme



/* CLASSES GENERAL ============================================================ */
.color-base {
    color: $color-base;
}

.color-base--description {
    color: $color-base--description;
}

.color-theme {
    color: $color-theme;
}

.overlay-transparent {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

// can by used with .overlay or on their own
.background-base--background {
	background-color: $color-base--background;
}

.background-base--opaque {
    background-color: $color-base--opaque;
}

.background-theme {
	background-color: $color-theme;
}

.background-theme--opaque {
    background-color: $color-theme--opaque;
}

.background-black {
    background-color: rgba(0, 0, 0, 1);
}
